# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
- List popular languages for Data Science
- List commonly used libraries in Data Science
- Create a table of Data Science Tools
- Evaluate arithmetic expressions

Some of the popular languages that Data Scientists use are:
1. Python
2. SQL
3. R

Some of the commonly used libraries used by Data Scientists include:
1. Pandas
2. ApacheSpark
3. Matplotlib
4. Tensorflow

| Data Science Tools |
| ------------------- |
| Jupyter Lab |
| Apache Zeppelin |
| R Studio |

### Below are a few examples of evaluating arithmetic expressions in Python

In [7]:
#  This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [13]:
# This will convert 200 minutes to hours by dividing by 60
200/60

3.3333333333333335

## Author
Abira